.selector-p {
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    margin: 0 2rem;
    text-align: center;
    width: 200px;
  }

  &__arrows {
    cursor: pointer;
  }
}


